.table td {
    vertical-align: middle;
  }
  
  .createuser{
    margin-top: 20px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
  }                             
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    display: inline-flex;
    align-items: center;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    display: inline-flex;
    align-items: center;
  }
  
  input[type='checkbox'] {
    margin-left: 10px;
  }
  [title] {
    cursor: not-allowed;
    color: gray;
  }
  .btn btn-primary
  {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    display: inline-flex;
    align-items: center;
  }
  